ALTER TABLE story MODIFY COLUMN cover_image LONGTEXT DEFAULT '' COMMENT '灏侀潰鍥剧墖URL';



show da

show tables;



ALTER TABLE story MODIFY COLUMN cover_image LONGTEXT DEFAULT '' COMMENT '封面图片URL';




desc story;


use ry_vue;