<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ComplaintReport.mapper.ComplaintReportMapper">
    
    <resultMap type="ComplaintReport" id="ComplaintReportResult">
        <result property="complaintId"    column="complaint_id"    />
        <result property="reportUserId"    column="report_user_id"    />
        <result property="targetType"    column="target_type"    />
        <result property="targetId"    column="target_id"    />
        <result property="complaintType"    column="complaint_type"    />
        <result property="complaintContent"    column="complaint_content"    />
        <result property="evidenceUrl"    column="evidence_url"    />
        <result property="isAnonymous"    column="is_anonymous"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="handleUserId"    column="handle_user_id"    />
        <result property="handleRemark"    column="handle_remark"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectComplaintReportVo">
        select complaint_id, report_user_id, target_type, target_id, complaint_type, complaint_content, evidence_url, is_anonymous, handle_status, handle_user_id, handle_remark, handle_time, create_time, update_time, is_deleted from complaint_report
    </sql>

    <select id="selectComplaintReportList" parameterType="ComplaintReport" resultMap="ComplaintReportResult">
        <include refid="selectComplaintReportVo"/>
        <where>  
            <if test="reportUserId != null "> and report_user_id = #{reportUserId}</if>
            <if test="targetType != null "> and target_type = #{targetType}</if>
            <if test="targetId != null "> and target_id = #{targetId}</if>
            <if test="complaintType != null "> and complaint_type = #{complaintType}</if>
            <if test="complaintContent != null  and complaintContent != ''"> and complaint_content = #{complaintContent}</if>
            <if test="evidenceUrl != null  and evidenceUrl != ''"> and evidence_url = #{evidenceUrl}</if>
            <if test="isAnonymous != null "> and is_anonymous = #{isAnonymous}</if>
            <if test="handleStatus != null "> and handle_status = #{handleStatus}</if>
            <if test="handleUserId != null "> and handle_user_id = #{handleUserId}</if>
            <if test="handleRemark != null  and handleRemark != ''"> and handle_remark = #{handleRemark}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectComplaintReportByComplaintId" parameterType="Long" resultMap="ComplaintReportResult">
        <include refid="selectComplaintReportVo"/>
        where complaint_id = #{complaintId}
    </select>

    <insert id="insertComplaintReport" parameterType="ComplaintReport" useGeneratedKeys="true" keyProperty="complaintId">
        insert into complaint_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportUserId != null">report_user_id,</if>
            <if test="targetType != null">target_type,</if>
            <if test="targetId != null">target_id,</if>
            <if test="complaintType != null">complaint_type,</if>
            <if test="complaintContent != null and complaintContent != ''">complaint_content,</if>
            <if test="evidenceUrl != null">evidence_url,</if>
            <if test="isAnonymous != null">is_anonymous,</if>
            <if test="handleStatus != null">handle_status,</if>
            <if test="handleUserId != null">handle_user_id,</if>
            <if test="handleRemark != null">handle_remark,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportUserId != null">#{reportUserId},</if>
            <if test="targetType != null">#{targetType},</if>
            <if test="targetId != null">#{targetId},</if>
            <if test="complaintType != null">#{complaintType},</if>
            <if test="complaintContent != null and complaintContent != ''">#{complaintContent},</if>
            <if test="evidenceUrl != null">#{evidenceUrl},</if>
            <if test="isAnonymous != null">#{isAnonymous},</if>
            <if test="handleStatus != null">#{handleStatus},</if>
            <if test="handleUserId != null">#{handleUserId},</if>
            <if test="handleRemark != null">#{handleRemark},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateComplaintReport" parameterType="ComplaintReport">
        update complaint_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportUserId != null">report_user_id = #{reportUserId},</if>
            <if test="targetType != null">target_type = #{targetType},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="complaintType != null">complaint_type = #{complaintType},</if>
            <if test="complaintContent != null and complaintContent != ''">complaint_content = #{complaintContent},</if>
            <if test="evidenceUrl != null">evidence_url = #{evidenceUrl},</if>
            <if test="isAnonymous != null">is_anonymous = #{isAnonymous},</if>
            <if test="handleStatus != null">handle_status = #{handleStatus},</if>
            <if test="handleUserId != null">handle_user_id = #{handleUserId},</if>
            <if test="handleRemark != null">handle_remark = #{handleRemark},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where complaint_id = #{complaintId}
    </update>

    <delete id="deleteComplaintReportByComplaintId" parameterType="Long">
        delete from complaint_report where complaint_id = #{complaintId}
    </delete>

    <delete id="deleteComplaintReportByComplaintIds" parameterType="String">
        delete from complaint_report where complaint_id in 
        <foreach item="complaintId" collection="array" open="(" separator="," close=")">
            #{complaintId}
        </foreach>
    </delete>
</mapper>