<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.donation.mapper.DonationApplicationMapper">

    <resultMap type="com.ruoyi.donation.domain.DonationApplication" id="DonationApplicationResult">
        <result property="donationId"    column="donation_id"    />
        <result property="donorName"    column="donor_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="donationType"    column="donation_type"    />
        <result property="donationMethod"    column="donation_method"    />
        <result property="donationAddress"    column="donation_address"    />
        <result property="shippingAddress"    column="shipping_address"    />
        <result property="donationTime"    column="donation_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="donationStatus"    column="donation_status"    />
        <result property="confirmTime"    column="confirm_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />

        <!-- 资金捐赠字段 -->
        <result property="donationAmount" column="donation_amount" />
        <result property="payType" column="pay_type" />
        <result property="tradeNo" column="trade_no" />

        <!-- 志愿服务字段 -->
        <result property="serviceHours" column="service_hours" />
        <result property="serviceItem" column="service_item" />
        <result property="serviceDate" column="service_date" />

        <!-- 捐助项目 -->
        <result property="projectName" column="project_name" />
    </resultMap>

    <sql id="selectDonationApplicationVo">
        select
            donation_id, donor_name, contact_phone, donation_type, donation_method,
            donation_address, shipping_address, donation_time, remarks,
            donation_status, confirm_time, create_time, update_time, is_deleted,
            donation_amount, pay_type, trade_no,
            service_hours, service_item, service_date,
            project_name
        from donation_application
    </sql>

    <select id="selectDonationApplicationList" parameterType="com.ruoyi.donation.domain.DonationApplication" resultMap="DonationApplicationResult">
        <include refid="selectDonationApplicationVo"/>
        <where>
            <if test="donorName != null  and donorName != ''"> and donor_name like concat('%', #{donorName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone like concat('%', #{contactPhone}, '%')</if>
            <if test="donationType != null  and donationType != ''"> and donation_type = #{donationType}</if>
            <if test="donationStatus != null "> and donation_status = #{donationStatus}</if>
            <if test="donationAmount != null "> and donation_amount = #{donationAmount}</if>
            <if test="payType != null and payType != ''"> and pay_type = #{payType}</if>
            <if test="serviceHours != null "> and service_hours = #{serviceHours}</if>
            <if test="serviceItem != null and serviceItem != ''"> and service_item like concat('%', #{serviceItem}, '%')</if>
            <if test="projectName != null and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            and is_deleted = 0
        </where>
    </select>

    <select id="selectDonationApplicationByDonationId" parameterType="Long" resultMap="DonationApplicationResult">
        <include refid="selectDonationApplicationVo"/>
        where donation_id = #{donationId} and is_deleted = 0
    </select>

    <!-- 恢复成动态插入，为空的字段不插入 -->
    <insert id="insertDonationApplication" parameterType="com.ruoyi.donation.domain.DonationApplication" useGeneratedKeys="true" keyProperty="donationId">
        insert into donation_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="donorName != null">donor_name,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="donationType != null">donation_type,</if>
            <if test="donationMethod != null">donation_method,</if>
            <if test="donationAddress != null">donation_address,</if>
            <if test="shippingAddress != null">shipping_address,</if>
            <if test="donationTime != null">donation_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="donationStatus != null">donation_status,</if>
            <if test="confirmTime != null">confirm_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>

            <!-- 资金捐赠 -->
            <if test="donationAmount != null">donation_amount,</if>
            <if test="payType != null">pay_type,</if>
            <if test="tradeNo != null">trade_no,</if>

            <!-- 志愿服务 -->
            <if test="serviceHours != null">service_hours,</if>
            <if test="serviceItem != null">service_item,</if>
            <if test="serviceDate != null">service_date,</if>
            <if test="projectName != null">project_name,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="donorName != null">#{donorName},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="donationType != null">#{donationType},</if>
            <if test="donationMethod != null">#{donationMethod},</if>
            <if test="donationAddress != null">#{donationAddress},</if>
            <if test="shippingAddress != null">#{shippingAddress},</if>
            <if test="donationTime != null">#{donationTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="donationStatus != null">#{donationStatus},</if>
            <if test="confirmTime != null">#{confirmTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>

            <!-- 资金捐赠 -->
            <if test="donationAmount != null">#{donationAmount},</if>
            <if test="payType != null">#{payType},</if>
            <if test="tradeNo != null">#{tradeNo},</if>

            <!-- 志愿服务 -->
            <if test="serviceHours != null">#{serviceHours},</if>
            <if test="serviceItem != null">#{serviceItem},</if>
            <if test="serviceDate != null">#{serviceDate},</if>
            <if test="projectName != null">#{projectName},</if>
        </trim>
    </insert>

    <update id="updateDonationApplication" parameterType="com.ruoyi.donation.domain.DonationApplication">
        update donation_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="donorName != null">donor_name = #{donorName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="donationType != null">donation_type = #{donationType},</if>
            <if test="donationMethod != null">donation_method = #{donationMethod},</if>
            <if test="donationAddress != null">donation_address = #{donationAddress},</if>
            <if test="shippingAddress != null">shipping_address = #{shippingAddress},</if>
            <if test="donationTime != null">donation_time = #{donationTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="donationStatus != null">donation_status = #{donationStatus},</if>
            <if test="confirmTime != null">confirm_time = #{confirmTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>

            <!-- 资金捐赠 -->
            <if test="donationAmount != null">donation_amount = #{donationAmount},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="tradeNo != null">trade_no = #{tradeNo},</if>

            <!-- 志愿服务 -->
            <if test="serviceHours != null">service_hours = #{serviceHours},</if>
            <if test="serviceItem != null">service_item = #{serviceItem},</if>
            <if test="serviceDate != null">service_date = #{serviceDate},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
        </trim>
        where donation_id = #{donationId}
    </update>

    <delete id="deleteDonationApplicationByDonationId" parameterType="Long">
        update donation_application set is_deleted = 1 where donation_id = #{donationId}
    </delete>

    <delete id="deleteDonationApplicationByDonationIds" parameterType="Long">
        update donation_application set is_deleted = 1 where donation_id in
        <foreach item="donationId" collection="array" open="(" separator="," close=")">
            #{donationId}
        </foreach>
    </delete>
</mapper>